body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background: #320f52;
  height: 100%;
  position: relative;
}

body::before,
body::after {
  content: "";
  left: 0;
  right: 0;
  height: 10%;
  position: fixed;
  z-index: -1;
}

body::before {
  top: 0;
  background: linear-gradient(to bottom, #c11c8e, #841875, #320f52);
}

body::after {
  bottom: 0;
  background: linear-gradient(to top, #c11c8e, #841875, #320f52);
}

.container {
  padding: 20px;
  position: relative;
  z-index: 1;
}
