#UserPage {
  height: 100%;
}

#profil-title {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  font-family: "Press Start 2P", serif;
  font-size: 10px;
  padding-top: 60px;
}

h2#user-form-title {
  color: white;
  font-family: "Press Start 2P", serif;
  font-size: 10px;
  margin-top: 60px;
}

img#img-avatar {
  width: 50%;
  border-radius: 100em;
  margin-bottom: 30px;
  margin-top: 20px;
  border: solid #fd20a7;
}

#user-card {
  border: 5px solid #fd20a7;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

#ul-card {
  list-style-type: none;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#button-modif {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 10px;
  height: auto;
  font-family: "Press Start 2P", sans-serif;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 10px;
  background: #e7d454;
  width: auto;
  z-index: 2;
  display: block;
  font-family: "Press Start 2P", sans-serif;
  color: black;
}

#button-modif:active {
  top: 2px;
}

#button-modif::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #e7d454;
  z-index: -1;
}

#button-modif::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #fcae34;
  z-index: -1;
}

/* * {
  border: 2px solid white;
} */

.debug2 {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  #user-card {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #avatar-container {
    display: flex;
    justify-content: flex-end;
  }

  img#img-avatar {
    /* margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 200px; */
    margin: 70px;
    width: 30%;
  }

  #button-modif {
    margin-top: 500px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  #ul-card {
    position: absolute;
    left: 70px;
    font-size: 19px;
    text-align: left;
    top: 230px;
    padding-left: 20px;
    padding-top: 40px;
  }

  #profil-title {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  #UserPage {
    height: 100%;
  }

  #ul-card {
    font-size: 30px;
  }

  img#img-avatar {
    width: 45%;
  }
}
