.header-content {
  height: 140px;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#fd20a7, #320f52);
  color: white;
}

.img-logo {
  width: 80px;
}

#user-picture {
  border-radius: 20px;
  width: 80px;
}

.user-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-navbar {
  display: flex;
  flex-direction: column;
}

.pixel-nav {
  font-size: 25px;
  color: #e7d454;
  height: auto;
  margin: 10px;
  font-family: "Press Start 2P", sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel-nav:active {
  top: 2px;
}

.pixel-nav {
  position: relative;
  display: block;
  margin: 10px;
  text-transform: uppercase;
  font-family: "Press Start 2P", sans-serif;
  font-size: 8px;
  color: black;
}

.pixel-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #e7d454;
  z-index: -1;
}

.pixel-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #fcae34;
  z-index: -1;
}

.pixel-nav {
  padding: 10px 10px;
  position: relative;
  background: #e7d454;
  width: auto;
  z-index: 2;
}

.auth-link {
  text-decoration: none;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 10px;
}

.auth-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .header-navbar {
    flex-direction: row;
    justify-content: left;
    gap: 5em;
  }
  .pixel-nav {
    font-size: 15px;
  }
  .auth-section {
    flex-direction: row;
  }
}
