#list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding-left: 0px;
}
#top {
  color: white;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: medium;
}
#borne {
  display: none;
}

@media screen and (min-width: 768px) {
  #borne {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #list {
    flex-direction: row;
  }
  #top {
    font-size: x-large;
  }
}
